In [1]:
#datastructure 1) Series 2) DataFrame

In [2]:
# Series 
import pandas as pd 
import numpy as np
a=np.array(['p','t','h','o','n'])
s=pd.Series(a)
s

0    p
1    t
2    h
3    o
4    n
dtype: object

In [3]:
#  DataFrame 2D
x=['sopan','kshirsagar']
df=pd.DataFrame(x)
df

            0
0       sopan
1  kshirsagar

In [4]:
# 1) Series 
x={'q':23,"b":26,"c":32}
pd.Series(x)

y=pd.Series(3,index=[0,2,3,])
print(y[0])

3

In [24]:
#functions / just run the cell nd learn 
funcs=pd.Series({"Attributes":['Series.index','Series.shape','Series.dtype','Series.size','Series.empty','Series.hasnans','Series.nbytes','Series.ndim','Series.itemsize'],index=True})
       "Description ":["Defines the index of the Series.",'It returns a tuple of shape of the data',
                       'It returns the data type of the data.','It returns the size of the data.','It returns True if Series object is empty, otherwise returns false.',
                       'It returns True if there are any NaN values, otherwise returns false','It returns the number of bytes in the data.','It returns the number of dimensions in the data',
                       'It returns the size of the datatype of item']
df=pd.DataFrame(funcs)
df

SyntaxError: closing parenthesis '}' does not match opening parenthesis '[' on line 3 (692676180.py, line 6)

In [6]:
#index 
x=pd.Series(data=[2,4,6,8])
z=pd.Series(data=[11.2,12,32.32],index=['a','b','c'])
x.index
x.values
z.index
z.values

array([11.2 , 12.  , 32.32])

In [7]:
#dtype itemsize in bytes 
x.dtype
# print(x.itemsize)

dtype('int64')

In [8]:
x.shape

(4,)

In [9]:
#dimention size numof bytes 
x=pd.Series(data=[2,4,6,8])
z=pd.Series(data=[11.2,12,32.32],index=['a','b','c'])
x.ndim,z.ndim
x.size,z.size
x.nbytes,z.nbytes

(32, 24)

In [10]:
#empty and  presence of NANs
x=pd.Series(data=[2,4,6,8,np.NaN])
z=pd.Series(data=[11.2,12,32.32],index=['a','b','c'])
y=pd.Series()
print(x.empty,z.empty,y.empty)
print(x.hasnans,z.hasnans,y.hasnans)
print(len(x),len(z),len(y))
x.count()

False False True
True False False
5 3 0

C:\Users\sopan\AppData\Local\Temp\ipykernel_21104\2052345544.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  y=pd.Series()

4

In [11]:
# Series to DataFrame 
z.to_frame()

       0
a  11.20
b  12.00
c  32.32

In [12]:
name=['sopan','shubham','pavan']
ide=[101,102,103]
n=pd.Series(name,ide)
n2={'Info':n}
frm=pd.DataFrame(n2)
frm

        Info
101    sopan
102  shubham
103    pavan

In [13]:
# value count 
x2=pd.Index([3,4,5,5,np.nan])
x2.value_counts()

5.0    2
3.0    1
4.0    1
dtype: int64

In [14]:
# Normalize equal divide / percent
x2.value_counts(normalize=True)

5.0    0.50
3.0    0.25
4.0    0.25
dtype: float64

In [15]:
# bins  / creat groups of values /work only with numeric data 
x2.value_counts(bins=2)

(2.9970000000000003, 4.0]    2
(4.0, 5.0]                   2
dtype: int64

In [16]:
x2.value_counts(dropna=False) #NAN count

5.0    2
3.0    1
4.0    1
NaN    1
dtype: int64